spring:
  application:
    name: spring-boot-data-jpa-demo

  datasource:
    url: jdbc:h2:file:~/newData/empDB;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: admin
    password: admin123

  h2:
    console:
      enabled: true
      path: /h2
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 9090
