spring:
  config:
    activate:
      on-profile: dev-h2

  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:file:./data3/empDB;DB_CLOSE_DELAY=-1
    username: admin
    password: admin123

  h2:
    console:
      enabled: true
      path: /h2

server:
  port: 9092

logging:
  level:
    root: INFO
